<!-- WELCOME PAGE -->
{% extends "bootstrap/base.html" %}
{% block content %}

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" >
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$("#countryDropdown").on("change", function () {
				$.getJSON('/country_form', {
					country_select: $('#countryDropdown').find(":selected").text()
				},
					function (result) {
						$(".dynamicForm").remove();
						$('br').remove();
						$.each(result, function (index, value) {
							var inputField = result[index];
							$("#addrItems").append(inputField);
						})
					});
			});
		});
	</script>
</head>
<header class="site-header">
	<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
	  <div class="container">
		<a class="navbar-brand mr-4" href="/"><h1>International Address Form</h1></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarToggle">
		</div>
	  </div>
	</nav>
  </header>
<div class="container">
	<div class="main-block">
		<!--<div class="left-part">

			<h1>International Address Form</h1>

		</div>-->


		<form action="/upload" method="post" class="form">
			<div class="title">
				<i class="fas fa-search"></i></i>
				<div>
					<p></p>
				</div>
				<h1 style="color:black";>Upload</h1>
				<h2> Please Select Country</h2>
			</div>
			<div class="info">
				<select name="country" id="countryDropdown">
					<option value="">Country</option>
					<option value="Argentina">Argentina</option>
					<option value="Australia">Australia</option>
					<option value="Austria">Austria</option>
					<option value="Belgium">Belgium</option>
					<option value="Brazil">Brazil</option>
					<option value="Canada">Canada</option>
					<option value="Chile">Chile</option>
					<option value="Costa Rica">Costa Rica</option>
					<option value="Czech Republic">Czech Republic</option>
					<option value="Denmark">Denmark</option>
					<option value="Estonia">Estonia</option>
					<option value="Fiji">Fiji</option>
					<option value="Finland">Finland</option>
					<option value="France">France</option>
					<option value="Germany">Germany</option>
					<option value="Great Britain">Great Britain</option>
					<option value="Greenland">Greenland</option>
					<option value="Hong Kong">Hong Kong</option>
					<option value="Iceland">Iceland</option>
					<option value="India">India</option>
					<option value="Indonesia">Indonesia</option>
					<option value="Ireland">Ireland</option>
					<option value="Isle of Man">Isle of Man</option>
					<option value="Israel">Israel</option>
					<option value="Italy">Italy</option>
					<option value="Japan">Japan</option>
					<option value="Korea">Korea</option>
					<option value="Latvia">Latvia</option>
					<option value="Luxembourg">Luxembourg</option>
					<option value="Malaysia">Malaysia</option>
					<option value="Mexico">Mexico</option>
					<option value="Netherlands">Netherlands</option>
					<option value="New Zealand">New Zealand</option>
					<option value="Norway">Norway</option>
					<option value="Oman">Oman</option>
					<option value="Pakistan">Pakistan</option>
					<option value="Poland">Poland</option>
					<option value="Portugal">Portugal</option>
					<option value="Puerto Rico">Puerto Rico</option>
					<option value="People's Republic of China">People's Republic of China</option>
					<option value="Romania">Romania</option>
					<option value="Russia">Russia</option>
					<option value="Scotland">Scotland</option>
					<option value="Singapore">Singapore</option>
					<option value="South Africa<">South Africa</option>
					<option value="South Korea">South Korea</option>
					<option value="Spain">Spain</option>
					<option value="Sweden">Sweden</option>
					<option value="Switzerland">Switzerland</option>
					<option value="Taiwan">Taiwan</option>
					<option value="Ukraine">Ukraine</option>
					<option value="United States">United States</option>
					<option value="Uruguay">Uruguay</option>
					<option value="Venezuela">Venezuela</option>


					{% if countries %}
					{% for country in countries %}
					<option name={{ country }}>{{ country }}</option>
					{% endfor %}
					{% endif %}
				</select>
				<div class="addrItems" id="addrItems">


					<!--          <input type="text" name="name" temp_data="Street address" placeholder="Street address"/> </br>-->
					<!--          <input type="text" name="name" temp_data="Street address line 2" placeholder="Street address 2"/> </br>-->
					<!--          <input type="text" name="name" temp_data="City" placeholder="City"/></br>-->
					<!--          <input type="text" name="name" temp_data="Region" placeholder="Region"/></br>-->
					<!--          <input type="text" name="name" temp_data="Postal / Zip code" placeholder="Postal"/></br>-->
				</div>
			</div>
			<button type="submit" href="">Search</button>
		</form>



		<!--    <script type="text/javascript">-->

		<!--      $(document).ready(function() {-->

		<!--        $('#country').change(function() {-->
		<!--          var selectedCountry = $(this).children("option:selected").text();-->

		<!--          console.log(selectedCountry)-->

		<!--          $('#addrItems').empty();-->

		<!--          if (selectedCountry == "") {-->
		<!--            $('#addrItems').empty();-->

		<!--            $('#addrItems').append(-->
		<!--              '<input type="text" name="Street address" temp_data="Street address" />' + -->
		<!--              '<input type="text" name="Street address line 2" temp_data="Street address line 2" />' + -->
		<!--              '<input type="text" name="City" temp_data="City" />' +-->
		<!--              '<input type="text" name="Region" temp_data="Region" />' +-->
		<!--              '<input type="text" name="Postal/Zip code" temp_data="Postal/Zip code" />'-->
		<!--            );-->
		<!--            return;-->
		<!--          };-->

		<!--          $.ajax({-->
		<!--                  type: 'post',-->
		<!--                  url: '/format',-->
		<!--                  data: JSON.stringify({-->
		<!--                    'country': selectedCountry-->
		<!--                  }),-->
		<!--                  dataType: "json",-->
		<!--                  success: function (data) {-->
		<!--                      console.log('Submission was successful.');-->
		<!--                      console.log(data);-->

		<!--                      lines = data[selectedCountry]-->

		<!--                      for (var line of lines) {-->
		<!--                        $('#addrItems').append('<div class="line">');-->

		<!--                        for (var item of line) {-->
		<!--                          if (item['name'] == 'postcode') {-->
		<!--                            $('#addrItems').append(-->
		<!--                              '<input type="text" name="' + item['name'] + '" temp_data="' + item['note'] + '" title="' + item['title'] + '"  pattern="' + item['pattern'] + '" required />'-->
		<!--                            ); -->
		<!--                          } else {-->
		<!--                            $('#addrItems').append(-->
		<!--                              '<input type="text" name="' + item['name'] + '" temp_data="' + item['note'] + '" required />'-->
		<!--                            );-->
		<!--                          };-->
		<!--                        }-->
		<!--                        $('#addrItems').append('</div>');-->
		<!--                      };-->
		<!--                  },-->
		<!--                  error: function (data) {-->
		<!--                      console.log('An error occurred.');-->
		<!--                      console.log(data);-->
		<!--                  }-->
		<!--              })-->
		<!--        });-->

		<!--      })-->
		<!--    </script>-->
	</div>
</div>
	
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}